*{
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;

}
body{
    padding: 0;
    
   
    
   
}

/*HEADER*/
header{
    padding: 20px;
    font-size: 40px;
    text-align: center;
    font-family:trajan;
    text-transform: uppercase;
    font-weight: bold;
    color:rgb(56, 91, 206);
    text-shadow: 3px 3px 4px rgb(12, 11, 11);
    font-style: italic;


       
    
}


/*NAVBAR*/
nav{
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    background-color:rgb(147, 242, 245);
   
    
    
    
}
 nav > ul{  
    margin: 0 auto;
    padding: 0;
    display: block;
    width: fit-content;
    list-style-type: none;
    

}
 nav > ul> li{
    display: block;
    float: left;
    color: black;
    padding: 0 15px

    
    
}
nav >ul >li >a{
  display: inline-block;
  padding: 16px 14px;
  color: rgb(54, 58, 58);
  text-decoration: none;
  font-size: 16px;
  font-family: garamond;
  font-weight: bold;
  
    
    
}


nav > ul >li >a:hover{
    background-color:black;
    color:white;
    font-size: 13px;
    height: 10;
    
}

/*LAYOUT*/
.container{
  padding: 60px;
  margin-top: 5px;
    
   
    
}

/*ABOUT PAGE*/
#about_title{
    text-align: center;
    font-family: garamond;
}
#about{
    padding:5px 5px;
    margin:0 auto;
    font-family: caramant;
    background-color: white;
}



/*FORMS*/
.form_title{
    font-family: caramant;
    font-weight: 700;
    border-bottom: 1px solid rgb(87, 98, 196);
    
}






  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #1a1919;
    text-transform: capitalize
  }
  
  
  .article-content {
    white-space: pre-line;
  }
  
 
  
  /* Footer */
.footer {
  /*background-color:rgb(39, 35, 35);
  color: white;
  text-align: center;
  height: auto;
  padding: 5px;
  bottom: 0;
  left:0;
  position: fixed;
  width: 100%;*/
 
 
  
  }

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }

  .column-33 {
    float: left;
    width: 33.33333%;
    padding: 20px;
  }