<!--USER ACCOUNT CODE-->
{% extends "layout.html" %}
{% block content %}
<!--this section displays user account details-->
    <div class="media">
        <img class="rounded-circle mt-1 ml-1" src="{{ image_file}}">
        <div class="media-body">
        <h2 class="mt-2">{{ current_user.username}}</h2>
        <p class="ml-2">{{ current_user.email}}</p>
        </div>
        <div class="col">
            <!--below is a form for users to update their account info-->
                <form method="POST" action="" enctype="multipart/form-data">
                    {{form.hidden_tag()}}
                    <fieldset class="form-group">
                        <legend class="d-sm-flex">Account info</legend>
                        <!--USERNAME FIELD-->
                    <div class="form-group">
                        {{form.username.label(class="form-control-label")}}
        
                        {% if form.username.errors %}
                            {{form.username(class="form-control-plaintext is-invalid")}}
                            <div class="invalid-feeback">
                                {% for error in form.username.errors %}
                                        <span>{{error}}</span>
                                {% endfor%}
                            </div>
                        {% else %}
                            {{form.username(class="form-control-plaintext")}}
                        {% endif%}    
                    </div> 
                    <!--EMAIL FIELD-->  
                    <div class="form-group">
                        {{form.email.label(class="form-control-label")}}
                        
                        {% if form.email.errors %}
                           {{form.email(class= "form-control-plaintext is-invalid")}}
                        <div class="invalid-feeback">
                            {% for error in form.email.errors %}
                                <span>{{error}}</span>
                            {% endfor%}
                        </div>
                    {% else %}
                        {{form.email(class="form-control-plaintext")}}
                    {% endif%}    
                    </div> 
                    <div class="form-group">
                        {{form.picture.label()}}
                        {{form.picture(class="form-control-file")}}
                        {% if form.picture.errors%}
                            {% for error in form.picture.errors%}
                                     <span class="text-danger">{{error}}</span>
                            {% endfor%}

                        {% endif%}
                    </div>
                    </fieldset>
                    <div class="form-group">
                        {{form.submit(class="btn btn-success")}}
                    </div>
                </form>
            </div>
    </div>                    
{% endblock content %}
    


