{% extends "layout.html" %}
{% block content %}
       {% for post in posts.items %}
       <div class="media">
          <img class="rounded-circle"src="{{url_for('static', filename='profile_pic/' + post.author.image_file)}}" alt="">
              <div class="media-body">
                <small class="text-muted">{{post.date_posted.strftime('%Y-%m-%d')}}</small>
                <h2><a href="{{url_for('post', post_id=post.id) }}">{{post.title}}</a></h2>
                <p>By <a href="">{{post.author.username}}</a></p>
                <p>{{post.content}}</p>
                <hr>
              </div>
       </div>

       {% endfor %}
{% endblock content %}
    
