{% extends "layout.html" %}
{% block content %}
<div class="container">
    <form action="" method="POST">
        {{form.hidden_tag()}}
        <fieldset class="form-group">
            <legend>Welcome!</legend>  

        <div class="form-group">
            {{form.email.label(class= "form-control-label")}}
            {{form.email(class= "form-control-plaintext")}}
        </div> 
        
        <div class="form-group">
            {{form.password.label(class= "form-control-label")}}
            {{form.password(class= "form-control-plaintext")}}
        </div>  
        </fieldset>
        <div class="form-group">
            {{form.submit(class= "btn btn-success")}}
        </div>
    </form>
    <div class="border-top">
        <div class="text-muted">
            Create an account <a class="ml-3"href="{{url_for('register')}}">Signup</a>
        </div>
    </div>
</div>
    

                  
{% endblock content %}
    
